.LoginPage{
    background-position: center;
    background-repeat: no-repeat;
}

.loginForm{
    background-color: rgb(207, 195, 219);
    color: white;
}

.empImage{
width: 40px;
height: 40px;
border-radius: 50%;
}
.registerPage{
    background-position: center;
    background-repeat: no-repeat;
}

.registerForm{
    background-color: rgb(207, 195, 219);
    color: white;
}

.signup{
    font-size: 15px;
}